body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.auth-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form{
    background-color: white;
    padding: 30px;
    width: 350px;
    border: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.auth-form h2{
    text-align: center;
    margin-bottom: 20px;
}

.auth-form input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.auth-form button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.auth-form p{
    text-align: center;
    margin-top: 15px;
}

.navbar{
    background-color: black;
    color: white;
    padding: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color:white;
    margin-left: 15px;
    text-decoration: none;
}

.error{
    color:red;
    margin-top: 10px;
    text-align: center;
}

.navbar button{
    margin-left: 15px;
    padding: 5px 10px;
    cursor: pointer;
}